<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list lines="full">
          <ion-item button detail routerLink="/profile">
            <ion-icon slot="start" name="person-circle-outline"></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-item>

          <ion-item button detail routerLink="/notifications">
            <ion-icon slot="start" name="notifications-outline"></ion-icon>
            <ion-label>Notifications</ion-label>
          </ion-item>

          <ion-item button detail routerLink="/item">
            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
            <ion-label>Item n</ion-label>
          </ion-item>

          <ion-item button detail routerLink="/item">
            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
            <ion-label>Item n</ion-label>
          </ion-item>

          <ion-item button detail routerLink="/item">
            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
            <ion-label>Item n</ion-label>
          </ion-item>

          <ion-item button detail routerLink="/item">
            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
            <ion-label>Item n</ion-label>
          </ion-item>

          <ion-item button detail routerLink="/item">
            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
            <ion-label>Item n</ion-label>
          </ion-item>

          <ion-item button detail routerLink="/item">
            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
            <ion-label>Item n</ion-label>
          </ion-item>

          <ion-item button detail routerLink="/item">
            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
            <ion-label>Item n</ion-label>
          </ion-item>

          <ion-item button detail routerLink="/item">
            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
            <ion-label>Item n</ion-label>
          </ion-item>

          <ion-item button detail routerLink="/item">
            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
            <ion-label>Item n</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button
          expand="block"
          color="danger"
          (click)="logout()"
          class="logout-button"
        >
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          Logout
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
